<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

{% include head.html %}

<body>

   {% include header.html %}

   <div class="content">
      <div class="container">
        
         {{ content }}
         <div id='adsense-content' style='display:block;text-align: center;'>
<a href="https://www.bitsler.com/?ref=CyberGeek" target="_blank"><img src="https://www.bitsler.com/bimages/general/dark/10.png" alt="Bitsler Casino" /></a>

</div>
<div id='adsense-content2' style='display:block;text-align: center;'>
<a href="https://www.bitsler.com/?ref=CyberGeek" target="_blank"><img src="https://www.bitsler.com/bimages/general/dark/10.png" alt="Bitsler Casino" /></a>

</div>
<script type='text/javascript'>
function insertAfter(addition,target) {
var parent = target.parentNode;
if (parent.lastChild == target) {
parent.appendChild(addition);
} else {
parent.insertBefore(addition,target.nextSibling);
}
}
var adscont = document.getElementById("adsense-content");
var target = document.getElementById("adsense-target");
var linebreak = target.getElementsByTagName("br");
if (linebreak.length > 0){
insertAfter(adscont,linebreak[0]);
}
</script>
<script type='text/javascript'>
function insertAfter2(addition2,target2) {
var parent = target.parentNode;
if (parent.lastChild == target) {
parent.appendChild(addition);
} else {
parent.insertBefore(additionn,targett.nextSibling);
}
}
var adscont = document.getElementById("adsense-content2");
var target = document.getElementById("adsense-target");
var linebreak = target.getElementsByTagName("br");
if (linebreak.length > 0){
insertAfter(adscont,linebreak[4]);
}
</script>
      </div>
   </div><!-- end .content -->

   {% include footer.html %}
   {% include scripts.html %}

</body>

</html>
